body{
    overflow: scroll;
}
#wrapper {
    width: 960px;
    background-color: white;
    border: medium white solid;
}
.border{
    width: 300px;
    border: medium black solid;
}
.column {
    float: left;
    width: 50%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
.halfcolor{
    background-color: black;
    opacity: 0.7;
    padding: 75px 0;
    height: 404px;
}

#haveAdventure{
    margin-left: 25px;
    color: white;
}

h2{
    padding-right: 40px;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.displayInline {
    display: inline;
}
.sqrPadding {
    padding-left: 31px;
    padding-right: 31px;
}


.floatLeft {
    float: left;
}

#logo{
    height: 130px;
}

#top {
    height: 135px;
    line-height:135px;

}
#main{
    margin-top: 31px;

}


#imagebk {
    background-image: url("../4x4-adventure-automobile-1571783.jpg");
    /*background-size: contain;*/
    background-repeat:no-repeat;
    height: 554px;
    position: relative;
}
#bold{
    font-weight: bold;
}

.clearMargin {

    margin: 0;
}
.clearPadding {
    padding: 0;
}

.clearFix {
    clear: both;
}

.grSmall {
    width: 329px;
    padding-left: 19px;
    padding-right: 19px;
}

.grBig {
    width: 545px;
    padding-left: 24px;
    padding-right: 24px;
}
grFont{
    line-height: 27px;
    font-size: 16px;
}
.Helvetica{
    font-family: "Helvetica Neue", Helvetica, Arial, sana-serif, serif;
}
.topMargin{
    margin-top:31px;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
.textRight {
    text-align: right;
}

#learnMore{
    color: blue;
}

#footer{
    background-color: black;
    color: white;
    padding: 25px 0;
    width: 960px;
}


.alignRight {
    text-align: right;
}
.alignCenter{
    text-align: center;
}
.img {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
    width: 300px;
}

.textLeft{
    text-align: left;
}


/*************************************** ABOUT **********************************/
#wrapper{
    width: auto;
    padding: 15px;
    border: black 1px solid;
    border-radius: 0;
}

#mountainPic{
    border: black 1px solid;
}

#content{
    width: 600px;
}

#headingOne{
    margin-left: 15px;
}

#loremIpsum{
    margin-left: 25px;
}

#table{
    margin-left: 250px;
}

#footerAbout{
    background-color: black;
    color: white;
    padding: 25px 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}